$website-width: 1280px;
$main-color: #f26801;
$secondary-color: #121821;
$light-color: #f4f4f4;
$medium-color: #ccc;
$pink-color: #f6b5b5;
$dark-color: #333;
$font-stack: "Roboto", sans-serif;
$bg-image: url("../img/269.jpg");
$special-chef-image: url("../img/special_background.png");
