@media (max-width: 1025px) {
  #header {
    &-home {
      .header-content {
        padding-top: 60%;
      }
    }
  }
}

@media (max-width: 800px) {
  #header {
    &-home {
      .header-content {
        padding-top: 60%;
      }
    }
  }

  #special {
    .container {
      .special-chef {
        h3 {
          font-size: 1.3rem;
        }
        h4 {
          font-size: 1.2rem;
        }
        img {
          margin-top: 3rem;
          width: 100%;
        }
      }
      .special-offer {
        flex-direction: column;

        h4,
        p {
          padding-left: 1rem;
        }

        .img-container {
          img {
            transform: none;
            margin-top: 2rem;
            padding: 0 2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
}
