// Laptops
@media (max-width: 1025px) {
  #header {
    &-home {
      .header-content {
        padding-top: 60%;
      }
    }
  }
}

// Tablets
@media (max-width: 800px) {
  #header {
    &-home {
      .header-content {
        padding-top: 60%;
      }
    }
  }

  #special {
    .container {
      .special-chef {
        h3 {
          font-size: 1.3rem;
        }
        h4 {
          font-size: 1.2rem;
        }
        img {
          margin-top: 3rem;
          width: 100%;
        }
      }
      .special-offer {
        flex-direction: column;

        h4,
        p {
          padding-left: 1rem;
        }

        .img-container {
          img {
            transform: none;
            margin-top: 2rem;
            padding: 0 2rem;
          }
        }
      }
    }
  }
}

// Phones
@media (max-width: 600px) {
  .nav-active {
    transform: translateX(0%);
  }

  #header-home {
    #main-nav {
      .nav-links {
        position: absolute;
        right: 0;
        width: 50%;
        height: 100vh;
        top: 9vh;
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }
      li {
        padding-top: 2rem;
        opacity: 0;
      }
      .burger {
        display: block;
        padding-right: 1rem;
      }
    }
  }

  #header {
    &-home {
      .header-content {
        padding-top: 100%;
        .bottom-line-showcase {
          width: 40%;
        }
        h1 {
          font-size: 4rem;
        }
        p {
          font-size: 2rem;
        }
      }
    }
  }
  #about-us {
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    .btn-about-us {
      padding: 0.7rem;
      font-size: 1rem;
    }
  }
  #special {
    .container {
      display: flex;
      flex-direction: column;
      .special-chef {
        margin: auto;
        margin-top: 2.5rem;
        width: 100%;

        h3 {
          font-size: 1.8rem;
        }
        h4 {
          font-size: 1.5rem;
        }
      }
      .special-offer {
        margin: 2.5rem 0 2.5rem 0;
      }
    }
  }
  #menu {
    .bottom-line-menu {
      width: 20%;
    }
    h4 {
      font-size: 3rem;
    }
    .menu-items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  #contact {
    .text-fields {
      grid-template-areas:
        "name"
        "email"
        "subject"
        "phone"
        "message";

      .name-input {
        grid-area: name;
      }
      .subject-imput {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 200px;
      }
      .text-input {
        padding: 0.5rem 1rem;
      }
    }
    .btn-submit {
      padding: 0.7rem;
      font-size: 1rem;
    }
  }
  #footer {
    p {
      text-align: left;
      font-size: 0.8rem;
    }
    h6 {
      font-size: 1.6rem;
    }
  }
  #scrollBtn {
    &:hover {
      background-color: $main-color;
    }
  }

  .nav-active {
    transform: translateX(0%) !important;
  }
}
