.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

%bottom-line-shared {
  height: 0.5rem;
  border-radius: 10px;
  margin: 5px auto 5px auto;
  background: $main-color;
  display: block;
}

.white-color {
  color: $light-color;
}

.bottom-line {
  &-showcase {
    @extend %bottom-line-shared;
    width: 15%;
  }
  &-about-us {
    @extend %bottom-line-shared;
    width: 15%;
    height: 0.4rem;
  }
  &-menu {
    @extend %bottom-line-shared;
    width: 35%;
    height: 0.2rem;
  }
  &-contact {
    @extend %bottom-line-shared;
    width: 6%;
    height: 0.4rem;
  }
  &-access {
    @extend %bottom-line-shared;
    width: 6%;
    height: 0.4rem;
  }
  &-special {
    @extend %bottom-line-shared;
    width: 85%;
    height: 0.2rem;
  }
}

.to-upper {
  text-transform: uppercase;
}

.bold-text {
  font-weight: bold;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@for $i from 1 through 10 {
  .py {
    &-#{$i} {
      padding: #{$i}rem 0;
    }
  }

  .my {
    &-#{$i} {
      margin: #{$i}rem 0;
    }
  }
}
