@import "config";
@import "utilities";
@import "animation";
@import "scrollButton";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.6;
  font-family: $font-stack;
  font-weight: 700;
  background: $light-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 5rem;
  height: 5rem;
  transition: all 0.5s;
}

// Main nav
#main-nav {
  width: 101%;
  display: flex;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  background-color: $secondary-color;
  justify-content: space-around;
  transition: all 0.5s;
  align-items: center;
  .burger {
    display: none;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: $light-color;
    transition: all 0.3s ease;
  }

  .logo-header {
    border: 0 none;
    padding: 0;
  }

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: $light-color;
    text-transform: uppercase;
    border-bottom: 4px transparent solid;
    padding-bottom: 0.5rem;
    transition: all 0.5s;
  }

  a:hover {
    border-color: $main-color;
  }

  a.current {
    border-color: $main-color;
  }
}

// Header
#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    .header-content {
      padding-top: 30%;
      h1 {
        text-align: center;
        font-size: 6rem;
        line-height: 1.2;
        color: #fff;
      }

      p {
        color: $light-color;
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
      }
    }
  }
}

// Section About Us
#about-us {
  margin-top: 1.5rem;
  h2 {
    color: $main-color;
    font-size: 2rem;
  }

  h3 {
    color: $secondary-color;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }

  .btn-about-us {
    display: inline-block;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: $main-color;
    text-decoration: none;
    color: $light-color;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background-color: lighten($main-color, 15%);
    }
  }
}

// Special chef

#special {
  background: $special-chef-image no-repeat center right / cover;
  .container {
    display: flex;
    align-items: center;
    .special-chef {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin-right: 10rem;
      padding: 1.5rem;
      background: rgba(255, 255, 255, 0.7);
      h3 {
        color: $main-color;
        font-size: 1.6rem;
      }

      h4 {
        color: $secondary-color;
        font-size: 2rem;
      }
      img {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
    }
    .special-offer {
      display: flex;
      background: $light-color;
      flex: 1;
      text-align: left;
      h4 {
        color: $secondary-color;
        font-size: 1.3rem;
      }
      .special-offer-description {
        color: $secondary-color;
        font-size: 1rem;
      }
      p {
        color: $main-color;
        font-size: 1.7rem;
      }

      .content {
        flex: 1;
      }

      .img-container {
        display: flex;
        align-items: center;
        flex: 1;
        img {
          transform: translateX(-50px);
        }
      }
    }
  }
}

// Section Menu
#menu {
  h4 {
    color: $secondary-color;
    font-size: 2rem;
  }

  h5 {
    color: $main-color;
    text-align: left;
    font-size: 1.6rem;
    padding-left: 1.5rem;
    margin-top: 1rem;
  }

  p {
    color: $light-color;
    padding: 1rem 1.5rem;
    text-align: left;
  }

  .menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    .item {
      background-color: $secondary-color;
      border-radius: 0.6rem;
      max-height: 700px;
      text-align: bottom;
      img {
        border-radius: 10px;
      }
    }
  }
}
// Section Contact
#contact {
  .btn-submit {
    display: inline-block;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: $main-color;
    text-decoration: none;
    color: $light-color;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background-color: lighten($main-color, 15%);
    }
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.3rem;
    margin: 1.5rem 0;
  }

  .text-fields {
    display: grid;
    grid-template-areas:
      "name email"
      "subject phone"
      "message message";
    grid-gap: 1.2rem;
    margin-bottom: 1.2rem;

    .name-input {
      grid-area: name;
    }
    .subject-imput {
      grid-area: subject;
    }
    .email-input {
      grid-area: email;
    }
    .phone-input {
      grid-area: phone;
    }
    .message-input {
      grid-area: message;
      height: 200px;
    }
    .text-input {
      padding: 0.5rem 1rem;
    }
  }
}

// Section access
#access {
  h6 {
    font-size: 2em;
    margin-top: 3rem;
  }

  iframe {
    width: 100%;
  }
}

// Footer
#footer {
  background-color: $secondary-color;
  h6 {
    font-size: 1rem;
    color: $main-color;
    text-align: center;
    margin-top: 2rem;
  }
  p {
    color: $light-color;
    font-size: 0.6rem;
  }
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .footer-col {
      text-align: left;
      li {
        a {
          text-align: center;
          color: $light-color;
          font-size: 1rem;
          i {
            margin-right: 1rem;
            margin-top: 2rem;
            color: $main-color;
          }
        }
      }
    }
  }
}

@import "media";
